{{ define "layout" }}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{{ .Title }}</title>
    <link rel="icon" type="image/jpeg" href="/static/img/icon.jpg" />
    <link rel="stylesheet" href="/static/css/global.css" />
  </head>

  <body>
    <div class="background">
      <div class="grid"></div>
    </div>

    {{ template "nav" . }}

    <main>{{ template "content" . }}</main>

    {{ template "footer" . }}

    <script src="/static/js/main.js"></script>
  </body>
</html>
{{ end }}
